:root {
  --bg: #cecbcbf5;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: #a8aca7;
  --orange: #d1e6cf;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
